/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
@import url('//fonts.googleapis.com/css?family=Open+Sans:600,700,800,400,400italic,600italic,700italic,800italic');

.Icon {
	max-height: 100%;
	fill: currentColor;
}

img {
	.homepage-feature-posts & {
		display: block;
		border: 1px solid $medium-gray;		
	}
	
	.entry-content & {
		display: block;
		border: 1px solid $medium-gray;		
	}
}

.gray {
	color: $dark-gray;
}

span {
	&.tags-title {
		color: $dark-gray;
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
	
	.ls-slide & {
		color: $white;
	}

	text-transform: uppercase;
}

h1, .h1 {
	color: $black;
	text-transform: capitalize;
	
	.ls-slide & {
		font-weight: $global-weight-bold;
		text-transform: capitalize;
	}
	
	&.secondary-header {
		color: $white;
		text-transform: capitalize;
	}
	
	.entry-content & {
		color: $black;
	}
	
	&.single-title {
		color: $black;
		font-size: 1.25rem;
		margin: 1em 0;
		text-transform: uppercase;
	}
}

h2, .h2 {
	.ls-slide & {
		font-weight: $global-weight-bold;
		text-transform: capitalize;		
	}
	
	.homepage-callout & {
		text-transform: capitalize;
		font-size: 2rem;
		font-weight: 800;
	}
}

h3, .h3 {

}

h4, .h4 {
	.homepage-callout & {
		text-transform: none;
		font-weight: 400;
		color: $black;
	}
}

h5, .h5 {
	margin-bottom: $header-margin-bottom * 4;
	
	.homepage-feature-posts & {
		text-transform: capitalize;
		margin-bottom: 0;
		font-size: 1.1rem;
	}
	
	.entry-content & {
		color: $black;
		margin-bottom: 1.5rem;
	}	
}

h6, .h6 {
	font-size: 1.1rem;
	
	.entry-content & {
		color: $black;
		margin-bottom: 0;
		text-transform: capitalize;
	}
}

p {
	.ls-slide & {
		line-height: $global-lineheight !important;
		font-size: $global-font-size * 1.25;
		color: $white;
	}
	
	.entry-content & {
		font-size: 0.875rem;
		line-height: 1.8;
	}
	
	&.tags {
		margin-bottom: 0;
		font-size: 0.875rem;
	}
}

/*********************
HEADER STYLES
*********************/
.header {
	z-index: 1;
	display: block;
	position: relative;
	
	ul.off-canvas-list li {
		list-style: none;
	}
}

.search-bar {
	background: $light-gray;
	display: none;
	
	.input-group {
		margin:0 auto;
		padding: 0.5rem 0;
	}
	
	.input-group-button {
		padding-left: 1rem;
	}
	
	input[type='search'] {
		text-align: right;
	}
}

.search-bar.expanded {
	display: block;
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
	
	a {
		line-height: 1;
		font-size: $small-font-size;
		padding: 0.5rem;
	}

	a.first {
		margin:0 1rem 0 0;
	}
	
	.search-icon {
		display: block;
		background-size: .8rem .8rem;
		height: .8rem;
		width: .8rem;
		padding:0;
		margin:0 0 0 1rem;
		color: $white;
	}
	
	.language {
		padding: 0.5rem 1rem 0;
	}
}

.logo-bar {
	.logo-icon {
		display: block;
		max-height: 3.9rem;
		max-width: 100%;
		color: $black;
	}
	
	&.light {
		background-color: rgba(255,255,255, .7);
	}
	&.dark {
		background-color: rgba(0,0,0, .15);
	}
}

.dropdown-pane li {
	list-style: none;
	
	> a {	
		padding: 0 0 .5rem;
		display: block;
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
		position: relative;
	}
}

.lower-shadow { 

	&::after {
		content: " ";
		@include shadow-gradient;
		height:1rem;
		display: block;
	}
}

.single-title,
.page-title {
	margin-bottom: ($global-margin * 2);
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {
	margin-bottom: ($global-margin * 2);
}

.search-query {
	font-size: 2rem;
	margin-bottom: ($global-margin * 2);
}

.search-result a {
	color: $black;
	font-size: 1.25rem;
    margin-bottom: 1em;

    &:hover {
    	color: #2e5f97;
    }
}

.search-results {
	margin-bottom: 2rem;

	&_title {
		color: $black;
		font-size: 1.25rem;
    	margin-bottom: 1em;
	}
}
	
.excerpt {
	font-size: 0.875rem;
    line-height: 1.8;

	& .post_info {
		margin-bottom: 1rem;
	}

	& .excerpt-read-more {
		display: block;
		margin-top: 0.5rem;
	}
}

.pad-bottom {
	padding-bottom: 2rem;
}


// Breadcrumbs
#crumbs {
	margin-bottom: 0;
	font-size: .75em;
}

// Post meta  
.byline {
	color: $black;
	time {}
}

.author {
	color: $black;
	font-weight: $global-weight-bold;
	font-size: .875em;
}

.post_info {
	color: $black;
	font-weight: $global-weight-normal;
	font-size: .875em;
	margin-bottom: 2.5rem;
}

// Entry content  
.entry-content {
	margin-bottom: 3rem;

	img {
		max-width: 100%;
		height: auto;
	}
	
	span {
		font-size: 0.875rem;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}
	
	li {
		line-height: 1.8rem;
		font-size: 0.875rem;
	}


	// Blockquotes
	blockquote {
		margin: 0;
	    padding: $blockquote-padding;
	    border-#{$global-left}: $blockquote-border;

	    & p {
	    	line-height: 1.5;
	      	color: $blockquote-color;
	      	font-size: 1.625rem;
			font-weight: bold;
			font-style: italic;
			margin-bottom: 0.5rem;

			&::before {
				content: "\201C";
			}

			&::after {
				content: "\201D";
			}
	    }
	}

	// Citations
	  cite {
	    display: block;
	    font-size: $cite-font-size;
	    color: $cite-color;
	    font-style: normal;
	    padding-left: 3rem;

	    &:before {
	      content: '\2013 \0020';
	    }
	  }

	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;

		// Images inside wp-caption  
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}

		p.wp-caption-text {
			font-size: 0.75em;
			margin: 4px 0 7px;
			text-align: center;
		}
	} 

} // Closes .entry-content

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

// Homepage & sub-page full-width backgrounds
.responsive-background {
	background-position: center top;
	background-repeat: no-repeat;    
    position: relative;
    z-index: 0;
	
	@include breakpoint(large) {
		background-size: 100% auto;
		margin: -14rem 0 0;
		padding: 16rem 0 2rem;
		min-height: 40rem;
	}
	@include breakpoint(medium only) {
		background-size: 100% auto;
		margin: -18rem 0 0;
		padding: 19rem 0 2rem;
		min-height: 30rem;
	}
	@include breakpoint(small only) {
		background-size: cover;
		padding: 8rem 0 1rem;
		min-height: auto;
	}


	// Homepage slider styling
	.slider-container {
		background-color: rgba($black, 0.5);
		
		@include breakpoint(large) {
			background-size: 100% auto;
			margin: 17% 0 0;
			padding: 0;
		}
		@include breakpoint(medium only) {
			background-size: 100% auto;
			margin: 7% 0 0;
			padding: 0;
		}
		@include breakpoint(small only) {
			background-size: cover;
			padding: 8rem 0 1rem;
		}
	
	}
}

.ls-minimal .ls-bottom-nav-wrapper {
text-align:right !important;
margin:-3rem auto 0px !important;
}

.ls-minimal .ls-playvideo, .ls-minimal .ls-nav-sides, .ls-minimal .ls-bottom-slidebuttons a, .ls-minimal .ls-nav-prev, .ls-minimal .ls-nav-next, .ls-minimal .ls-nav-start, .ls-minimal .ls-nav-stop, .ls-minimal .ls-fullscreen, .ls-minimal .ls-loading-container {
background-image: url('../images/skin.png') !important;
}


.ls-preloaded {
	white-space: normal !important;
}

a {
	&.ls-l {
		top:0 !important;
	}
}

// Homepage callout

.homepage-callout {
	background-color: $light-gray;
	padding-top:2rem;

	p {
		color: $dark-gray;
	}
	
	&.lower-shadow::after {
		margin-top:1.5rem;
	}
	
}

a {
	
	&.homepage-image-callout {
		display: block;
		padding-bottom: 0;
	
		img {
			width: 100%;
		}
	}
}

// Homepage 4-up feature posts

.homepage-feature-posts {
	p {
		line-height: 1.5;
		margin-bottom: 0;
	}
			
	.item {
		margin-bottom: 1.5rem;
	}
}



/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.fill-image {
	width: 100%;
	height: 100%;
	display: block;
	background-position:center center;
	background-size: contain;
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}


/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;

	#inner-footer {
		border-top: $hr-border;

		& #contactInfo p {
			font-size: 0.875rem;
			line-height: .5;
		
			& #infoEmail {
				font-style: italic;

				&:hover {
					text-decoration: underline;
				}
			}

			& #hoursDirections {
				display: inline-block;
				margin-top: 1rem;

				&:hover {
					text-decoration: underline;
				}
			}

			& #privacyPolicy {

				&:hover {
					text-decoration: underline;
				}
			}
		}

		& #connect a {
			margin-right: 1rem;

		}

	}

	span {
		text-transform: none;
	}

	div {
		padding-top: $global-margin;
	}
}

.article-footer {
	padding:.5rem 0;
	border-top:1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles

#eNewsletter {

	.gform_heading,
	.gform_title,
	.gfield_label,
	.name_first label,
	.name_last label {
		display: none;
	}
	
	div#gform_wrapper_1,
	.gform_body,
	.ginput_container	{   
		padding-top: 0;
	}

	.gform_fields {
		margin: 0;
	}
	
	.name_first,
	.name_last {
		display: block !important;
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.gform_wrapper .hidden_label input.large, 
	.gform_wrapper .hidden_label select.large, 
	.gform_wrapper .top_label input.large, 
	.gform_wrapper .top_label select.large {
		margin-top: -0.5rem;
	}
}

.layLeader__form {
	& .gfield {
		margin-bottom: 1rem;
	}

	.gform_body ul {
	    list-style: none outside none;
	    margin: 0;
	}

	h3.gform_title,
	.name_first label,
	#input_2_10 label  {
		display: none;
	}

	& .layLeader__elected,
	& .layLeader__favColor {
		width: 30%;
	}

	.address_city input,
	.address_state select,
	.address_zip input {
		float: left;
		width: 30%;
	}

	.address_state select {
		margin: 0 5%;
	}

	& .layLeader__captcha {
		margin: 3rem 0;
	}

	& #recaptcha_widget_div {
		margin-top: 6rem;
	}

	& #recaptcha_area {
		margin: 0 auto;
	}

	& .gform_footer.top_label {
		text-align: center;
	}
}

.form_download {
    background: $light-gray;
    text-align: center;
    width: 18rem;
    padding: 0.5rem;
    position: absolute;
    top: 65px;
    left: 720px;


    & .download_button {
    	background: $light-blue-color;
    	color: #fff;
    	font-size: 1.25rem;
    	padding: 0.5rem;
    	border-radius: 0.5rem;
    	-webkit-transition: background .3s ease;
    	-moz-transition: background .3s ease;
    	-ms-transition: background .3s ease;
    	-o-transition: background .3s ease;
    	transition: background .3s ease;

    	&:hover {
    		background: $primary-color;
    	}
    }
}


/*********************
EVENTS CALENDAR STYLES
*********************/

#tribe-events-pg-template {
	padding: 1rem 0rem;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background: $primary-color;
}

h2.tribe-events-page-title {
	color: $primary-color;
	text-align: left;
}

.tribe-events-calendar {
	& thead {

		& th {
			background-color: $light-blue-color;
			border: none;
		}
	}
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
	background-color:  $primary-color;
}

.tribe-events-nav-next,
.tribe-events-nav-previous {
	color: $primary-color;
}

#tribe-events .tribe-events-button  {
	background: $light-blue-color;
	font-size: $global-font-size;
	padding: 1.25rem;
    text-transform: none;
    letter-spacing: 0;
    -webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	-ms-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;

    &:hover {
    	background: $primary-color;
    }
}

#tribe-events-content {
	& .tribe-events-tooltip {
		& h4 {
			color: $primary-color;
		}
	}
}

	/* SINGLE EVENTS */

.tribe-events-schedule h2 {
	font-size: 1.525rem;
}


/*****************************
SOCIAL SHARING ICONS & COMMENTING
*****************************/

.twitter-share {
	float: right !important;
	width: 30% !important;
	margin-left:5% !important;
}

.fb-share {
	float: right !important;
	width: 65% !important;
}

.async-list {
	text-align: right;
}

.async-wrapper {
	padding-top:0 !important;
	margin-bottom: 0 !important;
	min-height: auto !important;
	line-height: 1.5rem;
}

#disqus_thread {
	padding-top: 3rem;
}
